@{
    ViewData["Title"] = "Home Page";
}
    <div id="container">
        <div id="body">
            <a>Welcome to the website for the World of Warcraft Guild Browncow Battalion from the server Magtheridon.</a>
        </div>
        <br />
        <br />
        <div id="brncow" class="carousel slide" data-ride="carousel" style="float:left; width:60%;">            
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
            </ul>           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://drive.google.com/uc?id=1jkIjhmtghizvltWYsfeWdufDRhsaR547" style="width:inherit;" >
                </div>
                <div class="carousel-item">
                    <img src="https://drive.google.com/uc?id=12ydBxI8i0F7qz5MCXJTDVR8MBIFU2rb2" style="width:inherit;">
                </div>
                <div class="carousel-item">
                    <img src="https://drive.google.com/uc?id=1rc7Ahti5Q_iiL5lQuHupy_-qjsafNuMe" style="width:inherit;">
                </div>
                <div class="carousel-item">
                    <img src="https://drive.google.com/uc?id=1W2X4z6TDdW08N-GiuJfyAnYFnvqrGXD-" style="width:inherit;">
                </div>
                <div class="carousel-item">
                    <img src="https://drive.google.com/uc?id=11X1QeE8ej54VLbxjS9FxSDPN8cHfexTY"style="width:inherit;" >
                </div>
                <div class="carousel-item">
                    <img src="https://drive.google.com/1FeuhESMkYX8msNfhx5OqpwGd8xcI22lU" style="width:inherit;">
                </div>
            </div>
        </div>        
        <div id="discord" style="float:right;">
            <iframe src="https://discordapp.com/widget?id=713540919336632420&theme=dark" style="width:250px" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
